h1 {
    color: white;
    text-align: center;
    padding:70px;
}

body {
    background: rgb(118, 121, 121);
}

img {
    max-width: 100%;
    height: auto;
}
p {
    color: white;
    text-align: center;
    padding: 70px;
}